@import '../assets/styles/colors.scss';
@import '../assets/styles/fonts.scss';

.item-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    // min-height: 90vh;
    // height: auto;
    background-color: $Gray;

    .left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;

        .img-counter-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 95%;
            min-height: 90%;
            box-shadow: 0px 0px 4px 3px $Black;
            background-color: black;

            .small-images-big-image-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $Black;
                height: 80%;
                border-bottom: solid 3px $Black;

                .small-images {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 20%;
                    cursor: pointer;

                    .sm-img {
                        //Su bacground image se setea desde el componente
                        height: 25%;
                        width:100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% 100%;

                        &:hover {
                            box-shadow: 0px 0px 4px 3px $Green;
                        }
                    }
                }
                .big-image {
                    //Su bacground image se setea desde el componente
                    width: 79%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2) ;
                        box-shadow: 0px 0px 4px 3px $Black;
                        z-index: 2;

                    }
                }
            }
        }
    }
    .right-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .title-price{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;

            h4{
                color: $White;
                margin-bottom: 10px;

                &:nth-child(2){
                    background-color: $DarkGray;
                    padding: 4px;
                    border-radius: 4px;
                }
            }
            small{
                background-color: $White;
                padding: 3px;
                border-radius: 3px;
            }

        }

        .details-container{
            border: solid 1px white;
            border-radius: 5px;
            box-shadow: 0px 0px 4px 2px black;
            color: white;
            margin-top: 5vh;
            overflow: hidden;
            width: 90%;

            ul{

                li{
                    display: flex;
                    justify-content: space-between;
                    line-height: 2.2rem;
                    background-color: $DarkGray;
                    border-bottom: solid 1px $White;
                    padding-left: 10px;

                    &:last-child{
                        border-bottom: none;
                    }
                    &:nth-child(odd){
                        background-color: $Gray;

                        .span{
                            background-color: $DarkGray;
                        }
                    }
                    &:nth-child(even){
                        background-color: $DarkGray;

                        .span{
                            background-color: $Gray;
                        }
                    }
                    
                    .span{
                        width: 50%;
                        padding-left: 10px;

                    }
                }
            }  
        }
    }
}

@media screen and (min-width:1020px){
    .item-detail{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 90vh;
        background-color: $Gray;
    
        .left-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: auto;
    
            .img-counter-container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 75%;
                min-height: 75vh;
                box-shadow: 0px 0px 4px 3px $Black;
                background-color: black;
    
                .small-images-big-image-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: $Black;
                    height: 80%;
                    // height: auto;
                    border-bottom: solid 3px $Black;
    
                    .small-images {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: 20%;
                        cursor: pointer;
    
                        .sm-img {
                            //Su bacground image se setea desde el componente
                            height: 25%;
                            width:100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100% 100%;
    
                            &:hover {
                                box-shadow: 0px 0px 4px 3px $Green;
                            }
                        }
                    }
                    .big-image {
                        //Su bacground image se setea desde el componente
                        width: 79%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                        cursor: pointer;
    
                        &:hover {
                            transform: scale(1.2) ;
                            box-shadow: 0px 0px 4px 3px $Black;
                            z-index: 2;
    
                        }
                    }
                }
            }
        }
        .right-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
    
            .title-price{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 90%;
    
                h4{
                    color: $White;
                    margin-bottom: 10px;
    
                    &:nth-child(2){
                        background-color: $DarkGray;
                        padding: 4px;
                        border-radius: 4px;
                    }
                }
                small{
                    background-color: $White;
                    padding: 3px;
                    border-radius: 3px;
                }
    
            }
    
            .details-container{
                border: solid 1px white;
                border-radius: 5px;
                box-shadow: 0px 0px 4px 2px black;
                color: white;
                margin-top: 5vh;
                overflow: hidden;
                width: 90%;
    
                ul{
    
                    li{
                        display: flex;
                        justify-content: space-between;
                        line-height: 2.2rem;
                        background-color: $DarkGray;
                        border-bottom: solid 1px $White;
                        padding-left: 10px;
    
                        &:last-child{
                            border-bottom: none;
                        }
                        &:nth-child(odd){
                            background-color: $Gray;
    
                            .span{
                                background-color: $DarkGray;
                            }
                        }
                        &:nth-child(even){
                            background-color: $DarkGray;
    
                            .span{
                                background-color: $Gray;
                            }
                        }
                        
                        .span{
                            width: 50%;
                            padding-left: 10px;
    
                        }
                    }
                }  
            }
        }
    }
}


