@import '../assets/styles/colors.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cartwidget-container {
    position: absolute;
    top: 0;
    right: 30px;

    .material-icons{
        color: $Green;
        cursor: pointer;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .1s all;
        font-size: 30px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.097);
            font-size: 34px;
        }
    }
}
