@import '../assets/styles/colors.scss';
@import '../assets/styles/fonts.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}

.list-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/images/pexels-helena-lopes-3688759.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;

    .greeting-title {
        line-height: 15vh;
        color: $Green; 
        background-color: rgba(63, 62, 62, 0.679);
        border-radius: 5px;
        padding: 0px 30px;
    }
}