@import '../assets/styles/colors.scss';
@import '../assets/styles/fonts.scss';

.orders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Gray;
    min-height: 90vh;
    width: 100%;

    .orders-organizer {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 4px 3px $Black;
        overflow: hidden;
        border-radius: 5px;
        width: 70vw;
        max-height: 80vh;
        background-color: $Green;

        .title {
            text-align: center;
            font-weight: 600;
            line-height: 10px;
        }
        .btn {
            align-self: flex-end;
            background-color: $Black;
            margin: 0px 5px 5px 0px;
        }

        .orders-columns {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 7vh;
            background-color: $DarkGray;
            p {
                width: 25%;
                text-align: center;
                color: $White;
            }
        }
    
        .orders {
            height: 60vh;
            background-color: $White;
            overflow-y: auto;
            overflow-x: hidden;
    
            &::-webkit-scrollbar{
                width: 7px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $Green;
            }
    
            .order-row {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-bottom: 2px solid $Gray;
                padding: 4px;
                min-height: 48px;
    
                .order-info {
                    width: 25%;
                    text-align: center;
                }
            }
        }
    }
}