@import '../assets/styles/colors.scss';
@import '../assets/styles/fonts.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}

nav{

    .nav-wrapper {
        background-color: $DarkGray;
        padding: 0px 30px;
        border-bottom: solid 4px $Green;

        .brand-logo {
            color: $Green;

            @media screen and (max-width: 520px){
                font-size: 18px;
            }
        }
        ul{ 
            display: flex;
            justify-content: space-around;
            width: 40%;
            margin-right: 5vw;

            li{ 
                .navlink{
                    font-size: 16px;
                    &:hover {
                        color: $Green;
                    }
                }
                .active{
                    color: $Green;
                    background-color: rgba(0, 0, 0, 0.097);
                }

            }
        }
    }
}

.sidenav {
    background-color: $Green;

    li{
        .navlink{  
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            height: 15vh;
        }
        .active{
            background-color: rgba(0, 0, 0, 0.097);
        }
    }
}



