@import '../assets/styles/colors.scss';
@import '../assets/styles/fonts.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}

.ItemList{

    display: grid;
    align-items: center;
    grid-template-columns: auto auto ;
    grid-row-gap: 5vw;
    grid-column-gap: 5vw;
    

    @media screen and (min-width: 540px){
        grid-template-columns: auto auto auto;
        grid-row-gap: 2vw;
        grid-column-gap: 2vw;

    }
    @media screen and (min-width: 740px){
        grid-template-columns: auto auto auto ;
    }
    @media screen and (min-width: 840px){
        grid-template-columns: auto auto auto ;
    }
    @media screen and (min-width: 940px){
        grid-template-columns: auto auto auto auto ;
    }
    @media screen and (min-width: 1040px){
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 0vw;
        grid-column-gap: 1vw;
    }
}

